body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: 
        linear-gradient(
        rgba(0, 0, 255, 0.25), 
        rgba(0, 0, 255, 0.25)
        ),
        url(https://www.expatica.com/app/uploads/sites/12/2019/11/Health-Insurance-Quotes-1920x1080.jpg) blue ;
}

header {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
}

main {
    display: block;
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 700px;
    height: auto;
    font-size: 1.5rem;
    background: rgba(16, 16, 56, 0.8);
}

p {
    display: inline;
}
.form-group {
    margin: 20px auto 20px auto;
}

textarea, select, input[type=text], [type=email], [type=number] {
    width: 95%;
    padding:10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#dropdown {
    width: 98%;
}


input[type=radio], [type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 7px 0 7px 0;
    
}

textarea {
    max-width: 95%;
    height: 120px;
}

input[type=submit] {
    width: 98%;
    height: 40px;
    padding:10px;
    text-decoration: none;
    background-color: chocolate;
    border: none;
    cursor: pointer;
    color: white;
}
